body {
  font-family: "Poppins", sans-serif;
  background-image: repeating-linear-gradient(#ffbb56, #ff9900);
  color: #454545;

  margin-top: 5%;
}
h1 {
  font-size: 50px;
}
h2{
    font-size:  35px;
}
p {
  font-size: 18px;
}
.brand-name {
  color: #660033;
}
.brand-color h1 {
  color: #ffaa00;
}
.brand-color h2{
    color: rgb(6, 172, 0);
}
.flex-part {
  display: flex;
  margin-bottom: 150px;
}

.backgrnd {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
  }

.half-width {
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
}

.btn-style {
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 50px;
  font-weight: 700;
  background-image: repeating-linear-gradient(#ff471a, #ff6600);
}

#about-pic {
  width: 80%;
}
#recipies-1{
    text-align: center;
    padding-right: 30%;
    padding-left: 30%;
    
}
.one-t-width{
    width: 30%;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px black;
    
}
.one-t-width img{
    width: 100%;
    border-radius: 10px;
    
}